   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
    color: white;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }

  .fat h1 {
    text-align: center;
    font-size: 35px;
  }
  
  .hero {
    background-color: #555;
    color: white;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  
  .cta-button {
    background-color: #f1c40f;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #e67e22;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .projects {
    background-color: #f4f4f4;
  }

  .project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  .project-cards a {
    margin: 0;
    text-decoration: none;
    list-style: none;
    width: 100%;
    display: inline-block;
  }
  
  .project-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
  }
  
  .project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .project-card h3 {
    margin-top: 10px;
  }
  
  .contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact input, .contact textarea {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .contact button {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .contact button:hover {
    background-color: #2ecc71;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
  